/* Loading Responsive
 *****************************************************************************
*/

#loading {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 5;
  width: 100%;
  height: 100%;
  text-align: center;
  align-items: center;
  display: none;
  overflow: none;

}

.loader {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.jimu-primary-loading:before,
.jimu-primary-loading:after {
  position: absolute;
  top: 0;
  content: '';
}

.jimu-primary-loading:before {
  left: -19.992px;
}

.jimu-primary-loading:after {
  left: 19.992px;
  -webkit-animation-delay: 0.32s !important;
  animation-delay: 0.32s !important;
}

.jimu-primary-loading:before,
.jimu-primary-loading:after,
.jimu-primary-loading {
  background: var(--color-purpleUltraLight);
  -webkit-animation: loading-keys-app-loading 0.8s infinite ease-in-out;
  animation: loading-keys-app-loading 0.8s infinite ease-in-out;
  width: 13.6px;
  height: 32px;
}

.jimu-primary-loading {
  text-indent: -9999em;
  margin: auto;
  position: absolute;
  right: calc(50% - 6.8px);
  top: calc(50% - 16px);
  -webkit-animation-delay: 0.16s !important;
  animation-delay: 0.16s !important;
}

@-webkit-keyframes loading-keys-app-loading {

  0%,
  80%,
  100% {
    opacity: .75;
    box-shadow: 0 0 #076fe5;
    height: 32px;
  }

  40% {
    opacity: 1;
    box-shadow: 0 -8px #076fe5;
    height: 40px;
  }
}

@keyframes loading-keys-app-loading {

  0%,
  80%,
  100% {
    opacity: .75;
    box-shadow: 0 0 #076fe5;
    height: 32px;
  }

  40% {
    opacity: 1;
    box-shadow: 0 -8px #076fe5;
    height: 40px;
  }
}

/* Content Responsive
 *****************************************************************************
*/
.content {
  position: absolute;
  z-index: 0;
  padding: var(--space-md);
  transition: 0.3s;
  left: 250px;
  top: 100px;
  width: calc(100% - 250px);
  overflow: hidden;
}

.content .container {

  max-width: 1000px;
  height: 100%;
}

.content.open {
  left: 0;
  width: 100%;
}

.content .content-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}

.content .content-header h1 {
  color: var(--color-lightWhite);
  font-size: var(--font-xl);
  text-transform: uppercase;
}

.button-cadastrar {
  display: inline-block;
  border-radius: 5px;
  background-color: var(--color-darkBlue);
  color: white;
  font-family: inherit;
  text-align: center;
  font-size: 13px;

  width: 10em;
  padding: 1em;
  transition: all 0.4s;
  cursor: pointer;
}

.button-cadastrar:hover {
  box-shadow: 0px 14px 56px -11px var(--color-purpleUltraLight);
  outline: 1px solid var(--color-lightWhite);
}

.button-cadastrar span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.4s;
}

.button-cadastrar span:after {
  content: '+';
  position: absolute;
  opacity: 0;
  top: 0;
  right: 5px;
  transition: 0.7s;
}

.button-cadastrar:hover span {
  padding-right: 15px;
  font-size: var(--font-md);
  font-weight: bold;
}

.button-cadastrar:hover span:after {
  opacity: 4;
  right: 0;
}

.content-filter {
  border: 1px solid var(--color-lightWhite);
  margin-top: var(--space-md);
  padding: 15px;
  border-radius: 5px;
  background-color: var(--color-darkBlue);
}

.input {
  background-color: var(--color-purple);
  height: 40px;
  padding: 10px;
  border: 2px solid white;
  border-radius: 5px;
  box-shadow: 3px 3px 2px var(--color-purpleLight);
  color: var(--color-lightWhite);
  width: 100%;
  max-width: 450px;
}

.input:disabled {
  background-color: var(--color-lightBlack);
  color: var(--color-lightWhite);
}

.input:focus {
  color: var(--color-purpleUltraLight);
  background-color: var(--background-color);
  outline-color: var(--color-purpleUltraLight);
  box-shadow: -3px -3px 15px var(--color-purpleUltraLight);
  transition: .1s;
  transition-property: box-shadow;
}

.input::placeholder {
  color: var(--color-lightWhite);
}

.input[type="date"]::-webkit-calendar-picker-indicator {
  background-color: var(--color-lightWhite);
  border-radius: 5px;
}

.users-wrapper {
  margin-top: var(--space-md);
  padding-bottom: var(--space-xl);
}

@media screen and (min-width: 600px) {
  .users-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;

  }
}

.user-container {
  width: 100%;
  height: 280px;
  background-image: linear-gradient(163deg, var(--color-purple) 0%, var(--color-blue) 100%);
  border-radius: 20px;
  transition: all .3s;
}

.user-container:hover {
  box-shadow: 0px 0px 15px 1px var(--color-purpleUltraLight);
}

@media screen and (min-width: 600px) {
  .user-container {
    width: 48%;

  }
}

.user-wrapper {
  width: 100%;
  height: 280px;
  background-color: var(--color-darkBlue);
  border: 1px solid var(--color-purpleUltraLight);
  border-radius: 20px;
  transition: all .2s;
  padding: 15px;
  margin: var(--space-sm) 0;
}

@media screen and (min-width: 600px) {
  .user-wrapper {
    margin: 0;

  }
}

.user-wrapper_top {
  display: flex;
}

.user-wrapper:hover {
  transform: scale(0.98);
  border-radius: 20px;
}

.user-options {
  width: 35%;
  text-align: center;
  border-right: 1px solid var(--color-purpleUltraLight);
}

.user-options img {
  height: 90px;
  width: 90px;
  object-fit: fill;
  border-radius: 5px;
}

@media screen and (min-width: 1100px) {
  .user-options {
    width: 30%;
  }
}



.user-options button {
  display: block;
  width: 80px;
  margin: 10px auto;
  border-radius: 5px;
  padding: 0.5em 0;
  font-weight: bold;
  color: var(--color-lightWhite);
}

.user-options button.red {
  background-color: var(--color-red);
}

.user-options button.purple {
  background-color: var(--color-purple);
}

.user-options button:hover {
  transform: translateY(-0.2em);
  transition: transform 0.1s ease;
}

.user-infos {
  padding: 10px;
  color: var(--color-lightWhite);
  font-size: var(--font-sm);
}

@media screen and (min-width: 1100px) {
  .user-infos {
    font-size: var(--font-md);
  }
}


.user-infos .name {
  padding: 10px;
  background-color: var(--color-purpleUltraLight);
  margin-bottom: var(--space-md);
  border-radius: 5px;
}

.user-infos .info-wrapper {
  margin: 5px 0;
}

.user-infos .info-wrapper .info {
  font-weight: bold;
  color: var(--color-purpleUltraLight);
}

.user-footer {
  padding: 10px 0;
  border-top: 1px solid var(--color-purpleUltraLight);
  text-align: end;
}

.user-footer button {
  background-color: var(--color-purple);
  padding: 0.5em 0.2rem;
  border-radius: 5px;
  font-weight: bold;
  color: var(--color-lightWhite);
}

/* Content Responsive FIM
 *****************************************************************************
*/

/* Footer 
 *****************************************************************************
*/

footer {
  border: 1px solid var(--color-lightWhite);
  width: 100%;
  padding: 15px;
  background-color: var(--background-color);
  color: var(--color-lightWhite);
  border-radius: 5px;
}

/* Footer 
 *****************************************************************************
*/


/* Modais
 *****************************************************************************
*/

.modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  transition: 0.5s;
  position: absolute;
  opacity: 0;
  z-index: -1;
  transition: 0.1s;
}

.buttons button {
  width: 40%;
  font-weight: bold;
  color: var(--color-lightWhite);
  max-width: 150px;
  border-radius: 5px;
}

.buttons button:hover {
  border: 1px solid var(--color-lightWhite);
}

.buttons .purple {
  background-color: var(--color-purple);
}

.buttons .red {
  background-color: var(--color-red);
}

.buttons {
  margin-top: var(--space-lg);
  display: flex;
  gap: 30px;
  justify-content: end;
}

.close {
  color: var(--color-darkBlue);
  float: right;
  font-size: 28px;
  position: relative;
  top: -20px;
  left: 10px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* Modal Delete
 *****************************************************************************
*/

.modal-delete_content {
  background-color: #fefefe;
  box-shadow: 3px 3px 2px var(--color-purpleLight);
  padding: 20px;
  border: 1px solid #888;
  border-radius: 5px;
  width: 350px;
  position: absolute;
  z-index: -1;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: var(--font-lg);
  color: var(--color-darkBlue);

}

.modal-delete_content #name {
  color: var(--color-purple);
  font-weight: bolder;
}


/* Modal crud Formulario
 *****************************************************************************
*/

.modal-crud_content {
  background-color: #fefefe;
  box-shadow: 3px 3px 2px var(--color-purpleLight);
  padding: 20px;
  border: 1px solid #888;
  border-radius: 5px;
  width: 80%;
  max-width: 820px;
  position: absolute;
  top: 70%;
  left: 50%;
  z-index: -1;
  opacity: 0;
  transform: translate(-50%, -50%);
  font-size: var(--font-lg);
  color: var(--color-darkBlue);
}

@media(min-width: 600px) {
  .modal-crud_content {
    top: 50%;
  }
}


.modal-crud_content form {
  height: 100%;
  width: 100%;
}

legend {
  font-size: var(--font-md);
  font-weight: bold;
}


@media screen and (min-width: 600px) {
  .modal-crud_content .inputs {
    display: flex;
    justify-content: space-between;
    gap: 50px;
  }

  .modal-crud_content form input {
    max-width: 170px;
  }
}


form .photo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: var(--space-md);
}

form .birday {
  width: 100%;
}

.birday legend {
  font-size: var(--font-md);
  font-weight: bold;
}

.birday #nascimento {
  color: var(--color-lightWhite);
  max-width: 295px;
}

@media(min-width: 600px) {

  #nome {
    min-width: 300px;
  }
}

.custum-file-upload {
  height: 100px;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  gap: 10px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border: 2px dashed var(--color-red);
  padding: 0.75rem;
  border-radius: 5px;
  box-shadow: 0px 48px 35px -48px rgba(0, 0, 0, 0.1);
  font-size: var(--font-sm);
  text-align: center;

}

.custum-file-upload .icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custum-file-upload .icon img {
  height: 40px;
  fill: rgba(75, 85, 99, 1);
}

.custum-file-upload .text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custum-file-upload .text span {
  color: var(--color-red);
  font-weight: bold;
}

.custum-file-upload input {
  display: none;
}

.personal {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.personal div {
  width: 100%;
}

@media(min-width: 600px) {
  .personal div {
    width: fit-content;
  }
}

.personal-header {
  width: 100%;
  display: flex;
  gap: 30px;
  margin-bottom: var(--space-sm);
}

.ativo {
  font-size: var(--font-md);
  font-weight: bold;
}

.ativo legend {
  margin-bottom: var(--space-sm);
}

#telefone {
  min-width: 270px;
}

#cep {
  min-width: 250px;

}

.divider {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  transition: all 0.3s;
  margin: 5px 0;
}

.divider span {
  height: 3px;
}

.divider span:first-child,
.divider span:last-child {
  width: 50%;
  background-size: 100% 2px;
  background-repeat: no-repeat;
}

.divider span:first-child {
  background-image: linear-gradient(90deg, transparent, var(--color-darkBlue));
}

.divider span:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-darkBlue);
  padding: 0px 10px 0px 10px;
}

.divider span:last-child {
  background-image: linear-gradient(90deg, var(--color-darkBlue), transparent);
}

.address {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}


@media screen and (min-width: 900px) {
  .address .rua #endereco {
    min-width: 355px;
  }
}

/* Modal fim 
 *****************************************************************************
*/